<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<title>botsbox</title>
	<link rel="icon" href="/static/img/favicon.ico">

	<link rel="stylesheet" href="/static/css/uikit.min.css">
	<link rel="stylesheet" href="/static/css/uikit-components/notify.min.css">
</head>

<body>

	<div id="body-container" class="uk-clearfix">

		<div class="uk-margin-top uk-flex uk-flex-bottom">
			<img class="uk-margin-small-left" src="/static/img/favicon.ico" style="width: 24px">
			<span class="uk-margin-small-left">botsbox<small class="uk-text-muted uk-margin-small-left">{{ .version }}</small></span>
		</div>

		<hr>

		<div id="jobs-container" class="uk-margin-large-top uk-container-center uk-width-1-1 uk-width-xlarge-3-5 uk-width-xxlarge-1-2">

			<div class="uk-margin-left uk-margin-large-bottom uk-text-large">
				<a href="/create-job" class="uk-icon-hover uk-icon-plus-square" title="Create A Job"></a>
			</div>

			<ul id="ul-jobs" class="uk-list">

				<li v-for="job in jobs" class="uk-grid" data-uk-grid-match>
					<div class="uk-width-3-10">
						<div v-if="activeJobs[job.id]" class="uk-margin-left">
							<div v-if="activeJobs[job.id].running" title="Running">
								<i class="uk-icon-justify uk-icon-sun-o uk-icon-spin uk-text-warning"></i>
							</div>
							<div v-else title="Waiting">
								<i class="uk-icon-justify uk-icon-clock-o uk-text-success"></i>
								<span class="uk-text-small" v-text="formatTimeInSecs(activeJobs[job.id].next)"></span>
							</div>
						</div>
					</div>
					<div class="uk-width-4-10 uk-text-break" style="border-left: 1px solid #ddd">
						<a class="uk-link" :href="'/job/'+job.id" v-html="job['title']"></a>
					</div>
					<div class="uk-width-1-10">
						<div v-if="activeJobs[job.id]" class="uk-text-muted" v-text="activeJobs[job.id].crawled" title="Crawled Targets"></div>
					</div>
					<div class="uk-width-1-5" class="uk-clearfix">
						<div v-if="job['status']=='active'" class="uk-float-left">
							<a href="javascript:;" class="uk-icon-justify uk-icon-hover uk-icon-pause" @click="deactiveJob(job.id)" title="Deactive"></a>
						</div>
						<div v-else class="uk-float-left">
							<a href="javascript:;" class="uk-icon-justify uk-icon-hover uk-icon-play" @click="activeJob(job.id)" title="Active"></a>
						</div>

						<div v-if="job['status']!='active'" class="uk-float-right">
							<a href="javascript:;" class="uk-icon-justify uk-icon-hover uk-icon-times uk-text-danger uk-margin-right" @click="deleteJob(job.id)" title="Delete"></a>
						</div>
					</div>
				</li>

			</ul>

		</div>

	</div>

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/vue.min.js"></script>
	<script src="/static/js/uikit.min.js"></script>
	<script src="/static/js/uikit-components/notify.min.js"></script>
	<script src="/static/js/moment-with-locales.min.js"></script>
	<script src="/static/js/utils.js"></script>

	<script type="text/javascript">
	moment.locale(navigator.language);

	var vm = new Vue({

		el: '#body-container',

		data: {
			jobs: [],
			jobsIndex: {},
			activeJobs: {},

			fetchingJobs: false,
			fetchingActiveJobs: false,

			doingActiveJobs: {},
			doingDeactiveJobs: {},
			doingDeleteJobs: {},

			loopTimeoutId: null,
		},

		mounted: function() {
			var vm = this;

			vm.fetchJobs();
			vm.fetchActiveJobsAndLoop();
		},

		methods: {

			formatTimeInSecs: utils.formatTimeInSecs,

			ensureJobsIndex: function() {
				var vm = this;

				var jobsIndex = {};
				$.each(vm.jobs, function(i, job) {
					jobsIndex[job.id] = i;
				});

				vm.jobsIndex = jobsIndex;
			},

			fetchJobs: function() {
				var vm = this;

				vm.fetchingJobs = true;
				$.get("/api/jobs", function(data) {
					vm.jobs = data['jobs'];

					vm.ensureJobsIndex();
				}, "json").always(function() {
					vm.fetchingJobs = false;
				});
			},

			fetchActiveJobs: function() {
				var vm = this;

				vm.fetchingActiveJobs = true;
				$.get("/api/activeJobs", function(data) {
					var activeJobs = {};
					$.each(data['jobs'], function(i, job) {
						activeJobs[job.id] = job;
					});

					vm.activeJobs = activeJobs;
				}, "json").always(function() {
					vm.fetchingActiveJobs = false;
				});
			},

			fetchActiveJobsAndLoop: function() {
				var vm = this;

				clearTimeout(vm.loopTimeoutId);

				vm.fetchActiveJobs();
				vm.loopTimeoutId = setTimeout(vm.fetchActiveJobsAndLoop, 5000);
			},

			activeJob: function(id) {
				var vm = this;

				if (vm.doingActiveJobs[id]) {
					return;
				}

				vm.$set(vm.doingActiveJobs, id, true);
				$.post("/api/job/" + id + "/active", {}, function(data) {
					code = data['code'];
					if (!code) {
						var index = vm.jobsIndex[id];
						var job = vm.jobs[index];
						job['status'] = 'active';
						vm.jobs[index] = job;
					} else {
						UIkit.notify('Active failed, please try later', { timeout: 2000, status: 'warning' });
					}
				}, "json").always(function() {
					vm.$delete(vm.doingActiveJobs, id);

					vm.fetchActiveJobsAndLoop();
				});
			},

			deactiveJob: function(id) {
				var vm = this;

				if (vm.doingDeactiveJobs[id]) {
					return;
				}

				vm.$set(vm.doingDeactiveJobs, id, true);
				$.post("/api/job/" + id + "/deactive", {}, function(data) {
					code = data['code'];
					if (!code) {
						var index = vm.jobsIndex[id];
						var job = vm.jobs[index];
						job['status'] = 'deactive';
						vm.jobs[index] = job;

						vm.$delete(vm.activeJobs, id);
					} else {
						UIkit.notify('Deactive failed, please try later', { timeout: 2000, status: 'warning' });
					}
				}, "json").always(function() {
					vm.$delete(vm.doingDeactiveJobs, id);

					vm.fetchActiveJobsAndLoop();
				});
			},

			deleteJob: function(id) {
				var vm = this;

				if (vm.doingDeleteJobs[id]) {
					return;
				}

				UIkit.modal.confirm("Are you sure?", function() {
					vm.$set(vm.doingDeleteJobs, id, true);
					$.post("/api/job/" + id + "/delete", {}, function(data) {
						code = data['code'];
						if (!code) {
							var index = vm.jobsIndex[id];
							vm.$delete(vm.jobs, index);

							vm.ensureJobsIndex();
						} else {
							UIkit.notify('Delete failed, please try later', { timeout: 2000, status: 'warning' });
						}
					}, "json").always(function() {
						vm.$delete(vm.doingDeleteJobs, id);
					});
				});
			},

		},

	});
	</script>
</body>

</html>