<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<title>botsbox</title>
	<link rel="icon" href="/static/img/favicon.ico">

	<link rel="stylesheet" href="/static/css/uikit.min.css">
	<link rel="stylesheet" href="/static/css/uikit-components/notify.min.css">
	<link rel="stylesheet" href="/static/css/codemirror.css">
	<link rel="stylesheet" href="/static/css/codemirror-monokai.css">

	<style type="text/css">
	#rule-testrun {
		padding: 8px;
		background: #272822;
		color: cyan;
		overflow: auto;
		word-wrap: break-word;
	}

	#rule-testrun .time {
		color: #999;
	}

	#rule-testrun .result {
		background: #fff
	}
	</style>
</head>

<body>

	<div id="body-container" class="uk-height-viewport uk-clearfix">

		<div id="header">
			<div class="uk-margin-top uk-clearfix">
				<div class="uk-float-left uk-flex uk-flex-bottom">
					<img class="uk-margin-small-left" src="/static/img/favicon.ico" style="width: 24px">
					<span class="uk-margin-small-left">botsbox<small class="uk-text-muted uk-margin-small-left">{{ .version }}</small></span>
				</div>

				<div v-if="!testrun" class="uk-float-right uk-margin-right">
					<span v-if="job" v-html="job.title" class="uk-margin-right"></span>
					<a href="javascript:;" class="uk-icon-button uk-icon-arrow-left" @click="back()" title="Back"></a>

					<a href="javascript:;" class="uk-icon-button uk-icon-check" @click="save()" title="Save"></a>

					<a href="javascript:;" class="uk-icon-button uk-icon-bug" @click="startTestrun()" title="Test Run"></a>
				</div>
				<div v-else class="uk-float-right uk-margin-right">
					<a v-if="testrunning" href="javascript:;" class="uk-icon-button uk-icon-stop" @click="cancelTestrun()" title="Cancel Test Run"></a>
					<a v-else href="javascript:;" class="uk-icon-button uk-icon-sign-out" @click="closeTestrunPanel()" title="Close Test Run Panel"></a>
				</div>
			</div>

			<hr style="margin-bottom: 0">
		</div>

		<div id="rule-container" class="uk-grid uk-grid-collapse">

			<div id="rule-viz" class="uk-width-1-2"></div>

			<div v-show="!testrun" id="rule-editor" class="uk-width-1-2"></div>

			<div v-show="testrun" id="rule-testrun" class="uk-width-1-2"></div>

		</div>

	</div>

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/vue.min.js"></script>
	<script src="/static/js/uikit.min.js"></script>
	<script src="/static/js/uikit-components/notify.min.js"></script>
	<script src="/static/js/moment-with-locales.min.js"></script>
	<script src="/static/js/codemirror.js"></script>
	<script src="/static/js/codemirror-javascript.js"></script>
	<script src="/static/js/d3.min.js"></script>
	<script src="/static/js/utils.js"></script>

	<script type="text/javascript">
	moment.locale(navigator.language);

	var h = $('#body-container').height() - $('#header').height() - $('#header').offset().top;
	$('#rule-viz').height(h);
	$('#rule-editor').height(h);
	$('#rule-testrun').height(h - 16); // With padding=8px

	var wsProtocol = (location.protocol === 'https:') ? 'wss:' : 'ws:';
	var wsUrl = wsProtocol + '//' + location.host + '/ws';
	var ws = new WebSocket(wsUrl);
	ws.onopen = function() {
		console.log('Test Run channel connected')
	}
	ws.onclose = function() {
		console.log('Test Run channel closed')
	}
	ws.onerror = function() {
		console.error('Test Run channel error')
	};
	ws.onmessage = function(evt) {
		var msg = evt.data;
		try {
			if (msg == "$finished") {
				vm.testrunning = false;
			} else {
				$('#rule-testrun').append('<div class="time">[ ' + moment().format('YYYY-MM-DD HH:mm:ss') + ' ]</div>');
				$('#rule-testrun').append('<div class="log">➜ ' + msg + '</div>');


				$('body>:not(#body-container, script)').remove(); // Some pages append content at footer
				$('#rule-testrun').scrollTop($('#rule-testrun').prop("scrollHeight"));
			}
		} catch (e) {
			console.error(e);
		}
	}

	var vm = new Vue({

		el: '#body-container',

		data: {
			jobId: '{{ .jobId }}',

			job: null,
			fetchingJob: false,

			ruleEditor: null,
			ruleVizTimeoutId: null,

			testrun: false,
			testrunning: false,

			saving: false,
		},

		computed: {

			hasJobId: function() {
				var vm = this;
				return vm.jobId && vm.jobId.length > 0;
			},

		},

		mounted: function() {
			var vm = this;

			if (vm.hasJobId) {
				vm.fetchJob(vm.jobId);
			}

			var rulePlaceholder = vm.hasJobId ? '' : `{
	"$every": "5m",
	"$entries": [
		{
			"$name": "index_page",
			"$url": "https://<your-target>"
		}
	],
	"index_page": {
		"$outputs": [
			{
				"$name": "<dataset-name>",
				"$data": {
					"title": "$title",
					"page": "$raw"
				}
			}
		]
	}
}`;

			vm.ruleEditor = CodeMirror(document.getElementById("rule-editor"), {
				value: rulePlaceholder,
				mode: {
					name: "javascript",
					json: true,
				},
				indentUnit: 4,
				theme: 'monokai',
				lineNumbers: true,
			});

			vm.ruleEditor.setSize('100%', h);

			vm.ruleEditor.on('changes', function() {
				clearTimeout(vm.ruleVizTimeoutId);
				vm.ruleVizTimeoutId = setTimeout(function() {
					vm.viz();
				}, 300);
			});

			window.addEventListener('resize', function() {
				vm.viz();
			})

			vm.viz();
		},

		methods: {

			fetchJob: function(jobId) {
				var vm = this;

				vm.fetchingJob = true;
				$.get("/api/job/" + jobId, function(data) {
					vm.job = data;

					if (data['rule']) {
						vm.ruleEditor.setValue(data['rule']);
					}
				}, "json").always(function() {
					vm.fetchingJob = false;
				});
			},

			back: function() {
				var vm = this;

				if (vm.job) {
					var oldRule = vm.job.rule;
					var newRule = vm.ruleEditor.getValue();

					if (oldRule != newRule) {
						UIkit.modal.confirm("Are you sure to discard unsaved changes?", function() {
							history.back();
						}, {
							labels: { 'Ok': 'Yes', 'Cancel': 'No' }
						});
						return;
					}
				}

				history.back();
			},

			viz: function() {
				var vm = this;

				try {
					var json = JSON.parse(vm.ruleEditor.getValue());
					utils.vizRule('#rule-viz', json, $('#rule-viz').width(), $('#rule-viz').height());
				} catch (e) {
					console.error(e);
				}
			},

			startTestrun: function() {
				var vm = this;

				var rule = vm.ruleEditor.getValue();

				try {
					JSON.parse(rule);
				} catch (e) {
					console.error(e);

					// Invalid json
					UIkit.notify('Invalid JSON format', { timeout: 2000, status: 'danger' });
					return;
				}

				vm.testrun = true;

				$('#rule-testrun').empty();
				$('#rule-testrun').append('<div>----------</div>');
				$('#rule-testrun').append('<div> Test Run </div>');
				$('#rule-testrun').append('<div>----------</div>');

				$.post("/api/testrun", {
					rule: rule,
				}, function(data) {
					code = data['code'];
					if (!code) {
						vm.testrunning = true;
					} else {
						vm.testrunning = false;
						$('#rule-testrun').append('<div><i class="uk-icon-exclamation-circle uk-icon-justify uk-text-danger"></i> Failed to start</div>');
					}
				}, "json");
			},

			cancelTestrun: function() {
				var vm = this;

				vm.testrun = false;

				$.post("/api/testrun/cancel", {}, function(data) {
					vm.testrunning = false;
				}, "json");
			},

			closeTestrunPanel: function() {
				var vm = this;

				vm.testrun = false;
			},

			save: function() {
				var vm = this;

				if (vm.saving) {
					return;
				}

				var rule = vm.ruleEditor.getValue();
				if (!rule) {
					return;
				}

				if (vm.hasJobId) {
					UIkit.modal.prompt("Update name:", (vm.job && vm.job.title) || "", function(title) {
						if (!title) {
							UIkit.notify('Name is required', { timeout: 2000, status: 'danger' });
							return;
						}

						vm.updateJob(vm.jobId, title, rule);
					});
				} else {
					UIkit.modal.prompt("Give a name:", "", function(title) {
						if (!title) {
							UIkit.notify('Name is required', { timeout: 2000, status: 'danger' });
							return;
						}

						vm.createJob(title, rule);
					});
				}
			},

			createJob: function(title, rule) {
				var vm = this;

				vm.saving = true;
				$.post("/api/createJob", {
					title: title,
					rule: rule,
				}, function(data) {
					code = data['code'];
					if (!code) {
						vm.job = {
							title: title,
							rule: rule,
						};

						UIkit.modal.confirm("Create successful, leave this page?", function() {
							location.href = '/';
						}, {
							labels: { 'Ok': 'Leave', 'Cancel': 'Stay' }
						});
					} else {
						UIkit.notify('Save failed, please try later', { timeout: 2000, status: 'warning' });
					}
				}, "json").always(function() {
					vm.saving = false;
				});
			},

			updateJob: function(jobId, title, rule) {
				var vm = this;

				vm.saving = true;
				$.post("/api/job/" + jobId + "/update", {
					title: title,
					rule: rule,
				}, function(data) {
					code = data['code'];
					if (!code) {
						vm.job = {
							title: title,
							rule: rule,
						};

						UIkit.modal.confirm("Update successful, leave this page?", function() {
							location.href = '/';
						}, {
							labels: { 'Ok': 'Leave', 'Cancel': 'Stay' }
						});
					} else {
						UIkit.notify('Save failed, please try later', { timeout: 2000, status: 'warning' });
					}
				}, "json").always(function() {
					vm.saving = false;
				});
			},

		},

	});
	</script>
</body>

</html>